<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/dashboard">DASHBOARD</a></li>
            </ul>
            <form action="/login">
                <button>Login</button>
            </form>
            <form action="/signup">
                <button>Signup</button>
            </form>
        </nav>
        <div class="header-title-container">
            <h1>The Tech Blog</h1>
        </div>
        
    </header>
    <h1>HOMEPAGE</h1>
        <div class="blog-post-container">
            <h2 class="sub-header">Recent Posts</h2>
            {{#each blogs}}
            <div class="col">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <a href="/api/blog/{{{dataValues.id}}}"><h5 class="card-title">{{{dataValues.title}}}</h5></a>
                            <p class="card-text">By: {{{user.dataValues.username}}}</p>
                            <p class="card-text" style="font-style: italic;">{{{dataValues.description}}}</p>
                            <p class="card-text" style="font-size: smaller;">{{{dataValues.createdAt}}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
</body>